<h1>Movies</h1>

<ul>
  <% @movies.each do |movie| %>
  <li><%= link_to movie.title, movie_path(movie) %></li>
  <p><b>Director: </b><%= movie.director %></p>
  <p><b>Genre: </b><%= movie.genre %></p>
  <% end %>
</ul>

<%= link_to "New Movie", new_movie_path %>
