<div class="container">
  <% @movies.each do |movie| %>
    <div class="panel panel-default">
      <div class="panel-title hover">
        <h3><%= link_to movie.title, movie_path(movie), :style=>'color: #50041B;' %></h3>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Sort Alphabetically", movies_path(order: 'title') %>
