
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #C298C9;
}

.body-container {
  margin-top: 120px;
}

.navbar-brand {
  font-size: 2em;
  padding-top: 20px;
}

.navbar-default {
  background-color: #561456;
  height: 80px;
}

.panel {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 10px;
  color: #50041B;
  border: none;
}

.form-background {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
}

.show-page {
  text-align: center;
}

/* form */
  .input-field label {
    color: #fff;
    font-size: 20px;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #fff;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #fff;
  }
