@import "bootstrap-sprockets";
@import "bootstrap";

.body-container {
  margin-top: 80px;
}

.navbar-brand {
  font-size: 2em;
  padding-top: 10px;
}

.navbar-default {
  background-color: #561456;
}

.panel {
  background-color: gray;
  text-align: center;
}
