
@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
}

body {
  background-color: #fff;
  color: #1a237e;
}

.body-container {
  margin-top: 120px;
}

.navbar-brand {
  font-size: 2em;
  padding-top: 20px;
}

.navbar-default {
  background-color: #3949ab;
  color: white;
  height: 80px;
}

.panel {
  background-color: #c5cae9;
  text-align: center;
  padding: 10px;
  border: none;
}

.form-background {
  background-color: #c5cae9;
  padding: 10px;
}

.show-page {
  text-align: center;
}

select {
  display:inline-block;
}

.select-form {
  max-width: 200px;
}

/* form */
  .input-field label {
    font-size: 20px;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
    font-size: 24px;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;

  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;

  }
  /* icon prefix focus color */
  .input-field .prefix.active {
  }

  .drop-down {
    color: black;
  }

  .feature-panel {
    border: 2px solid white;
  }
